body {
    background: linear-gradient(270deg, white, darkgray 80%) no-repeat;
    color: white;
}

.background-image {
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
}

#bio-picture {
    float: left;
    border: 4px solid black;
    margin: 20px;
    border-radius: 20px;
}

.navbar-brand {
    margin: 0 auto;
    font-size: 28px;
}

.nav-link {
    color: white !important;
}

.navbar {
    border-bottom: 4px solid black;
}

.main-header {
    margin-left: 35px;
    margin-top: 20px;
}

hr {
    background-color: black;
    padding: 1px;
}

.container {
    border: 4px solid black;
    margin-top: 40px;
    background-color: #343a40;
    border-radius: 30px;
}

.footer-copyright {
    margin-top: 40px;
    border-top: 4px solid black;
    background-color: #343a40;
}

.form-group {
    margin: 10px;
}

.bottom-input {
    margin-bottom: 40px;
}

.linkedin-profile img {
    
}

.portfolio img {
    widows: 300px;
    height: 300px;
    margin: 40px;
    margin-bottom: 20px;
    border-radius: 30px;
    z-index: -1;
}

.github-profile {
    position: relative;
}

.label {
    position: absolute;
    left: 35%;
    bottom: 25%;
    color: black;
    background-color: lightgray;
    padding: 30px;
}

.container .row {
    text-align: center;
}