body {
    background: linear-gradient(270deg, white, darkgray 80%) no-repeat;
    color: white;
}
#bio-picture {
    float: left;
    border: 4px solid black;
    margin: 20px;
    border-radius: 20px;
}

.header-about-me {
    margin-left: 35px;
    margin-top: 20px;
}

hr {
    background-color: black;
    padding: 1px;
}

.container {
    border: 4px solid black;
    margin-top: 40px;
    background-color: #343a40;
    border-radius: 30px;
}